@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyUser> SignInManager
@model IEnumerable<Timesheets.Models.Project>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Projects</h1>
    @{
        if (SignInManager.Context.User.IsInRole("Admin"))
        {
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        }
    }
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTablePr" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Owner Department
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerDept.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>