@model Timesheets.Models.TimesheetEntry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timesheet Entry (@Html.DisplayFor(model => model.RelatedUser.FirstName) @Html.DisplayFor(model => model.RelatedUser.LastName))</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelatedUser.UserName) 
        </dd>

        <dt class="col-sm-2">
            Full name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelatedUser.FirstName) @Html.DisplayFor(model => model.RelatedUser.LastName)
        </dd>

        <dt class="col-sm-2">
            Project
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelatedProject.Name)
        </dd>

        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt class="col-sm-2">
            Hours Worked
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
